* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	background-color: #54b2a9;
	margin: 0;
	padding: 0;
}

.navbar {
	background: #009688;
	height: 80px;
	display: flex;
	align-items: center;
}

.navbar-text {
	margin: 0 auto;
	color: white;
	font-size: 40px;
	font-family: "Wallpoet", sans-serif;
}

.container {
	min-height: calc(100vh - 80px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.selected-choice {
	border: 2px solid red;
}

.introduction-container {
	background: #83d0c9;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 12px;
	gap: 8px;
}

.best-of-n-button {
	background: #009688;
	color: white;
	font-size: 36px;
	font-family: "Wallpoet", sans-serif;
	width: 100%;
}

.name-input {
	height: 42px;
	font-size: 36px;
	font-family: "Wallpoet", sans-serif;
	margin-bottom: 20px;
	text-align: center;
}

.option {
	height: 200px;
	width: 100px;
}

#rock {
	background-image: url("rockk.png");
	width: 135px;
	height: 165px;
	/* border: 1px solid black; */
	border-radius: 12px;
	background-size: cover;
}

#paper {
	background-image: url("paperr.png");
	width: 135px;
	height: 165px;
	/* border: 1px solid black; */
	border-radius: 12px;
	background-size: cover;
}

#scissors {
	background-image: url("scissorss.png");
	width: 135px;
	height: 165px;
	/* border: 1px solid black; */
	border-radius: 12px;
	background-size: cover;
}

.rock {
	background-image: url("rockk.png");
	width: 135px;
	height: 165px;
	border: 1px solid black;
	border-radius: 12px;
	background-size: cover;
	transform: rotate(180deg);
}

.paper {
	background-image: url("paperr.png");
	width: 135px;
	height: 165px;
	border: 1px solid black;
	border-radius: 12px;
	background-size: cover;
	transform: rotate(180deg);
}

.scissors {
	background-image: url("scissorss.png");
	width: 135px;
	height: 165px;
	border: 1px solid black;
	border-radius: 12px;
	background-size: cover;
	transform: rotate(180deg);
}
